*{
    margin:0;
    padding:0;
}

.navbar{
    display:flex;
    position: fixed;
    top: 0;
    cursor: pointer;
    z-index: 999;
    width: 100%;
}
.lefthalf{
    display:flex;
}
.lefthalf img{
    width: 62px;
    height: 62px;
    display: flex; 
    justify-content: center;
    align-items: center;
}
.lefthalf li{
    display:flex;
    justify-content: center;
    align-content: center;
    list-style: none;
    padding: 20px;
}
.lefthalf li a{
    text-decoration: none;
    color:white;
}
.lefthalf li a:hover{
   color: rgb(178, 188, 196);
}
.navlist{
    display: flex;
    justify-content: center;
    margin: auto;
}
.righthalf{
    margin-right: 10px;
}
.righthalf h3{
    color: white;
    margin: auto;
}
.righthalf h3 span{
    color:  lightseagreen;
}
.background{
    background: rgba(0, 0, 0, 0.7) url('../images/bg.jpg');
    background-size: cover;
    background-blend-mode: darken;
}
.firstsection{
    height: 100vh;
}
.webname{
    color: white;
    text-align: left;
    width: 40%;
    height: 50%;
    display: flex;
    flex-direction: column;
    -webkit-transition-property: all; 
    -webkit-transition-duration: 0.3s; 
    -webkit-transition-timing-function: ease; 
}
.webname:hover{
    transform: scale(1.06); 
}
.heading1{
    font-size: 30px;
    padding-top: 60px;
    padding-left: 20px;
}
.heading2{
    font-size: 16px;
    color: rgb(177, 184, 184);
    margin:20px 0;
    padding-left: 20px;
}
.btn-sm{
   
    border-radius: 12px;
    padding:0px 4px;
    margin: 0px 5px;
}
.burger{
    display: none;
    position: absolute;
    right: 10px;
    top: 7px;
}
.line{
     width: 33px;
     background-color: white;
     height: 4px;
     margin: 3px 3px;
     border-radius: 2px;
}


@media screen and (max-width: 831px){
    .navbar{
        flex-direction: column;
        transition: all 1.7s ease-out;
    }
    .lefthalf{
        flex-direction: column;
        align-items: center;
    }
    .navlist{
        flex-direction: column;
        margin-right: 60%;
    }
    .righthalf{
        flex-direction: column;
    }
    .burger{
        display: block;
    }
    /* .h-nav{
        height: 68px;
    }
    .v-class{
        opacity: 0;
    } */
    .lefthalf img{
        display: none;
    }
    .righthalf{
       margin-left: 8px;
    }
}