.carousel img{
     height: 60vh;
     margin-top: 78px;
     border: 4px solid white;
     border-radius: 40px;
}
/* .slider{
     margin:auto;
     display: flex;
     justify-content: center;
     position: relative;
} */
.carousel{
     height: 80vh;
     margin-left: 14%;
     /* align-items: center; */
     position: relative;
     width: 70%;
     margin-top: 35px;
 }
 .carousel-control-next-icon {
     margin-top: 80px;
 }
 .carousel-control-prev-icon {
     margin-top: 80px;
 }
 @media only screen and (max-width: 700px){
    .carousel img{
        height: 23vh;
    }
    .carousel{
        height: 38vh;
        margin-top: 40px;
        width: 85%;
        margin-left: 7%;
    }
    .carousel-control-next-icon {
        margin-top: 40px;
    }
    .carousel-control-prev-icon {
        margin-top: 40px;
    }
 }


